h1 { color: red; }
body {
  background: #363636;
}

nav {
  animation: 3s linear 0s infinite alternate nav;
}

@keyframes nav {
  from { margin-left: -20%; }
  to { margin-left: 500px; }
}
.request:nth-of-type(even) {
  animation: 1s linear 0s infinite alternate bg;
}

@keyframes bg {
  from { filter: saturate(100%) invert(0); }
  to { filter: saturate(100) invert(150); }
}

h3 { margin: 8px 0 0 0; }

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.code {
  white-space: pre-wrap;
  line-height: 20px;
  overflow-wrap: break-word;
}

.request:nth-of-type(odd) {
  animation: 2s linear 0s infinite alternate awful;
  filter: invert(200);
}

@keyframes awful {
  from { filter: invert(0); }
  to { filter: invert(200) saturate(100); }
}

.dumps {
  color: #EFE9F4;
  font-family: courier;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

button {
  border-radius: 2%;
  background: #363636;
  margin-top: 3px;
  color: white;
  padding: 5px 9px;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: darkgray;
  color: black;
  border: none;
}

button:focus {
  border: none;
}

.index {
  justify-content: left;
  width: 90%;
  flex-wrap: wrap;
  font-size: 12px;
  display: flex;
}

.request {
  width: 220px;
  padding: 10px;
  padding: 15px;
  margin: 10px;
  color: #0E34A0;
  font-family: courier;
  background: #EFE9F4;
  border-radius: 6%;
}

.request div {
  overflow-wrap: break-word;
}

p {
  margin: 0;
}

nav a {
  color: red;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  font-style: italic;
  cursor: pointer;
}

